*.dll
/*.bin
/*.exe
main.lua
mainh.lua
/*.ttf
jkrgui/.DS_Store
/*.png
aJkrLua
.DS_Store
*.json
.vs/*.*
*.vsidx
.wsuo
cmake_install.cmake
*.pdb
*.obj
*.ninja_deps
*.ninja_log
build.ninja
*.cmake
CMakeLists.txt
CMakeCache.txt
*.lib
**/.cmake/
*.ninja
*.check_cache
*CMakeConfigureLog.yaml
*.bin
TargetDirectories.txt
a.exe
foo.h
main.c
CMakeCCompilerId.c
CMakeCXXCompilerId.cpp


